@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", sans-serif;
}

/* Add this to your CSS file */
::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scroll thumb */
  border-radius: 20px; /* Radius for the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scroll thumb when hovered */
}
